<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>It was adapted by </span>
    <a
      b-slate-link
      href="https://github.com/18639020281/radish_chatGPT" target="_blank"
    >
      Radish
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code By Diu
    </a>
  </p>
</footer>
